@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: radial-gradient(circle, hsla(203, 9%, 48%, 1) 0%, hsla(223, 16%, 30%, 1) 90%);
    color: #242a30;
}

.banner {
    margin: auto;
    width: 80%;
    padding: 0 30px;
    height: 60px;
    color: #1ba7e8;
    display: flex;
    align-items:center;
    justify-content:space-between;
    background-color: #242a30;
    border-left: 2px solid #4b5051;
    border-right: 2px solid #4b5051;
}

@media only screen and (max-width: 768px) {
    .banner {
        width: 100%;
        height: 90px;
        flex-direction: column;
        justify-content: space-around;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    color:#d9e0e5;
}

.logo span {
    font-weight:900;
}

.menu ul {
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style-type: none;
}
 
.menu li {
    color: #1ba7e8;
    font-size: 1.2rem;
}

.menu li a {
    color: #1ba7e8;
    text-decoration: none;
    cursor: pointer;
}

.menu li a:hover {
    padding-bottom: 10px;
    border-bottom: 8px solid #1ba7e8;
    transition: 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .menu li a:hover {
        padding-bottom: 2px;
    }
}

.container { 
    margin: 0 auto;
    width: 80%;
    background-color:#ced7df;
    box-shadow: rgb(35, 40, 45) 0px 20px 30px -10px;
    padding: 40px 60px;
    border-left: 2px solid #4b5051;
    border-right: 2px solid #4b5051;
}

.container h2 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-top: 80px;
}
.container p {
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 300;
    padding-top: 6px;
}

.container p span {
    font-weight: 500;
}

.container p a {
    color: #1ba7e8;
    font-weight: 700;
}

.container p a:hover {
    color: #037db5;
    font-weight: 700;
    transition: 0.4s ease-in;
}


@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 30px 20px;
    }
}

.profile h1 {
    font-size:2.8rem;
    line-height: 3.2rem;
    font-weight: 300;
    color: #1ba7e8;
}

.profile h1 span {
    font-weight:900;
}

.portefolio {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 3px solid #1ba7e8;
    font-size: 1.4rem;
    font-weight: 300;
}

.blue {
    color : #1ba7e8;
}

.bold {
    font-weight: 700;
}

.gray {
    color:#8a8a8a;
    font-weight: 700;
    font-size: 1.8rem;
}

.esperluette {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#1ba7e8;
    font-size: 2.5rem;
    font-weight: 900;
}

.categories {
    width: 100%;
}

.categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .categories ul {
        justify-content: left;
        gap: 10px;
    }
}

.categories li {
    width: auto;
    padding: 8px;
    background-color: #ffffff;
    color:#0362ab;
    border: 1px solid #069ee4;
    border-radius: 5px;
}

.categories li a {
    width: auto;
    color:#1ba7e8;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.categories li a:hover {
    color:#037db5;
}

.menu_flottant {
    position: fixed;
    right: 0;
    top: 50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 8em;
    height:10.5em;
    margin-top: -2.5em;
    padding: 10px 10px 10px 24px;
    border-radius: 20px 0 20px 0;
    background-color:#1ba7e8;
    z-index: 1;
}

.menu_flottant ul {
    text-decoration: none;
}

.menu_flottant li {
   font-size: 0.9rem;
   font-weight: 500;
   line-height: 1.6rem;
   color: #ffffff;
}

.menu_flottant li a {
    color: #ffffff;
    text-decoration: none;
 }

.gallery {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.gallery img {
    width: 240px;
    height: 170px;
    object-fit: cover;
    object-position: left top;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 20px -20px;
    opacity: 1;
    transition: .5s ease;
}

.gallery img:hover {
    background-color: #242a30;
    opacity: 0.7;
   }

.border-gradient {
    border: 4px solid  #1ba7e8;
    border-image-slice: 1;
    border-width: 4px;
  }

  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #6f00d7,  #1ba7e8);
  }

  .footer {
    margin: 0 auto;
    width: 80%;
    height: 160px;
    color: #1ba7e8;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    padding: 0 70px ;
    background-color: #242a30;
    border-left: 2px solid #4b5051;
    border-right: 2px solid #4b5051;
  }

  @media only screen and (max-width: 768px) {
    .footer {
        width: 100%;
        padding: 0 20px;
    }
}

  .infos {
    display: flex;
    flex-direction: column;
  }

  .footer p {
    font-size: 1.rem;
    font-weight: 300;
    line-height: 1.8rem;
    vertical-align: middle;
  }

  .footer p img {
    width:24px;
  }

  .footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
}

.footer li {
    font-size: 1.2rem;
}

.footer li img {
    height: 30px;
}